<div class="container col-sm-8 col-sm-offset-2">
  <% @articles.each do |article| %>
    <div class="wrapper">
      <div><%= link_to "#{article.title}", article_path(article) %></div>
      <div><%= article.content %></div>
    </div>
  <% end %>
</div>
