@import "bootstrap";

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin:30px 0;
  display: ruby-base;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #a8a088;
}
small {
  font-size: 16px;
  margin-left: 10px;
  color: rgb(196, 177, 127);
}

.container {
  margin-top: 5%;
}

.navbar-default {
  background-color: #fdf6e4;
  border-bottom:1px solid rgb(138, 138, 138);
}

.wrapper {
  margin: 10px;
  padding: 15px;
  background-color: #f7f6f5;
  height: 8%;
  width: 100%;
}

.navbar-header {
  width: 100%;
  text-align: center;
}

.show {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}
